<%- include('partials/header'); -%>
<body>

<main id="main">

    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">
                            <% project.images.forEach(function(image) { %>
                                <div class="swiper-slide">
                                    <img src="<%= image %> " alt="">
                                </div>
                            <% }); %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: <%= project.category %></li>
                            <li><strong>Client</strong>: <%= project.client %></li>
                            <li><strong>Project date</strong>: <%= project.ProjectDate %></li>
                            <li><strong>Project link</strong>: <a
                                        href="<%= project.code %> "><%= project.title %></a>
                            </li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2><%= project.title %> </h2>
                        <p>
                            <%- project.description %>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>

<%- include('partials/footer'); -%>

</body>

